@import "../../common/colors";
@import "../../common/screen";
@import "../../common/variables";
@import "../../common/mixins";

.partners {
  //background-image: url("../img/carousel-page/bg-carousel-page.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;

  padding-top: $sectionPaddingTop;
  padding-bottom: $sectionPaddingBottom;

  .row {
    @include mya(35px);
    .text {
      h2 {
        font-family: "MuseoCyrl700", serif;
        font-size: $h2FontSize;
      }
    }

    .partners-img {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      img {
        width: 100%;
      }
    }
  }
}

@include max-w(992){
  .partners{
    .partners-img {
      flex-wrap: wrap;
      img {
        width: 50%!important;
      }
    }
  }
}

@include max-w(768){
  .partners{
    .partners-img {
      flex-wrap: wrap;
      img {
        width: 100%!important;
      }
    }
  }
}

@media screen and (max-width: 425px){
  .partners{
    .text{
      @include mxa(15px);
    }
  }
}

@media screen and (max-width: 375px) {
  .partners {
    padding-top: $sectionPaddingTop375;
    padding-bottom: $sectionPaddingBottom375;
    @include mxa(15px);
    .text {
      h2 {
        font-size: $h2FontSize375!important;
      }
    }
    .partners-img {
      flex-wrap: wrap;
      img {
        width: 100%;
      }
    }
  }
}