@import "../../common/colors";
@import "../../common/screen";
@import "../../common/variables";
@import "../../common/mixins";

.representation{
  background-image: url("../img/main/bg-representation.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: $sectionPaddingTop;
  padding-bottom: $sectionPaddingBottom;
  display: flex;
  flex-direction: row;
  align-items: center;

  .eric-logo{
    img{
      width: 100%;
    }
  }


  .f-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    //text-align: center;
    img{
      //width: 100%;
    }
    h2 {
      color: #000000;
      width: 100%;
      margin-top: 8px;
      //margin-left: 34px;
      font-family: "MuseoCyrl700", serif;
    }
  }

  .s-row {
    margin-top: 38px;
    h3 {
      font-size: $h3FontSize;
    }

    p {
      color: #000000;
      font-size: $pFontSizeMax;
      margin-top: 26px;

      font-family: "MuseoCyrl100", serif;
    }

    b {
      font-family: "MuseoCyrl700", serif;
    }
  }
}

@media screen and (max-width: 425px){
  .s-row{
    @include pxa(15px);
  }
}

@media screen and (max-width: 375px) {
  .representation{
    padding-top: $sectionPaddingTop375;
    padding-bottom: $sectionPaddingBottom375;
    @include pxa(15px);
    .f-row {
      h2 {
        font-size: $h2FontSize375;
        width: 100%;
      }
    }
    .s-row {
      h3 {
        font-size: $h3FontSize375;

      }

      p {
        margin-top: 15px;
        font-size: $pFontSizeMax375;
      }
    }
  }
}

