$background-color: #ffffff;
$background-elements: #EEEEEE;
$text-color: #000000;
$accent-main: #D92929;
$accent-second: #f7772d;
$linear-gradient: linear-gradient(90deg, #C92020 50%, #FC9B29 78.8%);

// FOR CARDS
$orangecard: #F7772D;
$redcard: #DD2B2B;
$yellowcard: #FC9B29;