@import "../../common/colors";
@import "../../common/screen";
@import "../../common/variables";
@import "../../common/mixins";

footer {
  .content {

    @include mya(35px);
    font-size: 15px;
    font-family: "MuseoCyrl100", serif;

    .f-row {
      margin-bottom: 35px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .logo-footer {
        margin-right: 15px;
        width: 25%;

        p {

        }

        .img-footer {
          display: flex;
          align-items: center;
          justify-content: space-around;

          a {
            display: block;
            width: 45%;

            img {
              width: 100%;
            }
          }
        }
      }

        .list-row-f {
          font-size: $pFontSizeMin375;
          margin-top: 15px;
          padding-top: 15px;
          display: flex;
          width: 33%;
          justify-content: space-around;

          .list1, .list2 {
            width: 100%;
            font-family: "MuseoCyrl700", serif;
            a{
              display: flex;
              flex-direction: column;
            }
          }
        }

        .list-row-s {
          font-size: $pFontSizeMin375;
          margin-top: 15px;
          padding-top: 15px;
          display: flex;
          width: 33%;
          flex-direction: row;
          justify-content: space-around;

          .list3, .list4 {
            width: 100%;
            a{
              display: flex;
              flex-direction: column;
            }
          }
        }

      a {
        color: black;
      }
    }

    .s-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include pya(25px);

      a {
        text-decoration: underline;
        color: #f15a29;
      }
    }
  }
}

@include max-w(992) {
  footer {
    .content {
      .f-row {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;

        .logo-footer {
          display: flex;
          flex-direction: row;
          justify-content: center;

          img, p {
            width: 50%;
          }
        }

        .list1, .list2 {
          width: 25%;
          font-size: $pFontSizeMin375;
          margin-top: 15px;
          padding-top: 15px;
          display: flex;
          flex-direction: column !important;
          justify-content: space-between;
        }

        .list5, .list6, .list3, .list4 {
          width: 25%;
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          p {
            margin-bottom: 5px;
          }
        }

        .social {
          display: flex;

          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@include max-w(768) {
  footer {
    .content {
      @include my(15px, 0);

      .f-row {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;

        p {
          width: 100%!important;
        }

        .logo-footer {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          img {
            width: 100%;
          }
        }

        .list-row-f {
          font-size: $pFontSizeMin375;
          margin-top: 15px;
          padding-top: 15px;
          display: flex;
          width: 45%;
          justify-content: space-around;

          .list1, .list2 {
            width: 100%;
          }
        }

        .list-row-s {
          font-size: $pFontSizeMin375;
          margin-top: 15px;
          padding-top: 15px;
          display: flex;
          width: 45%;
          flex-direction: row;
          justify-content: space-around;

          .list3, .list4 {
            width: 100%;
          }
        }

        .social {
          display: flex;

          img {
            margin-right: 10px;
          }
        }
      }

      .s-row {

      }
    }
  }
}

@media screen and (max-width: 425px) {
  footer {
    .content {
      @include my(15px, 0);

      .f-row {
        .logo-footer {
          margin-bottom: 15px;
          display: flex;

          p {
            font-size: $pFontSizeMin375;
            display: flex;
            justify-content: center;
            width: 100%;


          }

          a {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              margin-bottom: 15px;
              width: 50%;
              display: flex;
              justify-content: center;
              align-items: center;

            }
          }
        }

        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap;

        .list-row-f {
          font-size: $pFontSizeMin375;
          margin-top: 15px;
          padding-top: 15px;
          width: 100%;
          display: flex;
          justify-content: space-around;

          .list1, .list2 {
            width: 100%;
          }
        }

        .list-row-s {
          font-size: $pFontSizeMin375;
          margin-top: 15px;
          padding-top: 15px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          .list3, .list4 {
            width: 100%;
          }
        }

        .social {
          display: flex;
        }
      }

      .s-row {
        @include pya(15px);

        p {
          font-size: $pFontSizeMin375;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  footer {
    .content {
      @include my(15px, 0);

      .f-row {
        .logo-footer {
          margin-bottom: 15px;
          display: flex;

          p {
            font-size: $pFontSizeMin375;
            display: flex;
            justify-content: center;
            width: 100%;


          }

          a {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              margin-bottom: 15px;
              width: 50%;
              display: flex;
              justify-content: center;
              align-items: center;

            }
          }
        }

        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap;

        .list-row-f {
          font-size: $pFontSizeMin375;
          margin-top: 15px;
          padding-top: 15px;
          width: 100%;
          display: flex;
          justify-content: space-around;

          .list1, .list2 {
            width: 100%;
          }
        }

        .list-row-s {
          font-size: $pFontSizeMin375;
          margin-top: 15px;
          padding-top: 15px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          .list3, .list4 {
            width: 100%;
          }
        }

        .social {
          display: flex;
        }
      }

      .s-row {
        @include pya(15px);

        p {
          font-size: $pFontSizeMin375;
        }
      }
    }
  }
}

