@import "../../common/colors";
@import "../../common/screen";
@import "../../common/variables";
@import "../../common/mixins";

header {

  .navbar-brand{
    img{
      //width: 88px;
      width: 80px;
    }
  }

  a {
    color: black;
    font-family: "MuseoCyrl300", serif;
    font-size: 15px;
    }

  a :hover {
      color: #f15a29;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  header{
    a{
      font-size: 13px;
    }
  }
}


