{% extends "base/base.html" %}
{% load static %}
{% block title %}Erickson Perm - Главная{% endblock %}

{% block content %}

    {% include 'main/components/main.html' %}

    {% include 'main/components/representation.html' %}

    {% include 'main/components/couching.html' %}

    {% include 'main/components/study.html' %}

    {% include 'main/components/near-date.html' %}

    {% include 'base/form.html' %}

    {#    <section class="banner1">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="f-row">#}
    {#                    <div class="text">#}
    {#                        <h3>Является одной из#}
    {#                            крупнейших компаний,#}
    {#                            проводящих обучение#}
    {#                            коучингу</h3>#}
    {#                    </div>#}
    {#                    <div class="logo-eric">#}
    {#                        <img src="{% static 'dev/img/main/banner1/logo-eric.png' %}" alt="logo-eric">#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="row">#}
    {#                <div class="s-row">#}
    {#                    <div class="mono-text">#}
    {#                        <p>Наши выпускники работают в Международной Федерации Коучей, руководят крупнейшими компаниями#}
    {#                            во#}
    {#                            всем мире.#}
    {#                            Международный Эриксоновский Университет во всех странах присутствия ежегодно выпускает#}
    {#                            несколько#}
    {#                            тысяч#}
    {#                            сертифицированных коучей и тренеров.</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}

    <section class="banner1">
        <div class="container">

            <div class="row">
                <div class="f-row">
                    <div class="logo-eric">
                        <img src="{% static "dev/img/erickson_logo_kazan.png" %}" alt="er_online" width="50%">
                    </div>

                    <div class="text">
                        <h5>Международный Эриксоновский Университет является одной из крупнейших компаний,
                            проводящих обучение коучингу.</h5>
                        <h4>Университет, с 1980 года, проводит обучение, тренинги, сертификационные программы, школы
                            управления в 102 городах, в 85 странах и на 5 континентах.</h4>
                        <p>Выпускники Университета работают в Международной Федерации Коучей, руководят крупнейшими
                            компаниями во всем мире. Международный Эриксоновский Университет во всех странах
                            присутствия
                            ежегодно выпускает несколько тысяч сертифицированных коучей и тренеров.</p>
                        <hr>
                        <h3>ЦЕНТРАЛЬНЫЙ ОФИС МЕЖДУНАРОДНОГО ЭРИКСОНОВСКОГО УНИВЕРСИТЕТА НАХОДИТСЯ В ВАНКУВЕРЕ,
                            КАНАДА.</h3>
                    </div>
                    <div class="bottom">
                        <div class="btn">
                            <a class="btn-orange" href="https://erickson.edu/">на сайт erickson.edu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="office">
        <div class="container">
            <div class="head">
                <h2>Центральный офис</h2>
                <h3>Международного эриксоновского университета</h3>
                <h4>Находится в Ванкувере, Канада</h4>
                <div class="text-bottom">
                    <h5><span>Международный Эриксоновский Университет</span> проводит обучение, тренинги,
                        сертификационные
                        программы,
                        школы управления:</h5>
                </div>
            </div>
            <div class="body-block">
                <div class="stat-row">
                    <div class="elem">
                        <span class="f"><b>в</b></span>
                        <span class="s">102</span>
                        <span class="t">городах</span>
                    </div>
                    <div class="elem">
                        <span class="f"><b>в</b></span>
                        <span class="s">85</span>
                        <span class="t">странах</span>
                    </div>
                    <div class="elem">
                        <span class="f"><b>на</b></span>
                        <span class="s">5</span>
                        <span class="t">континентах</span>
                    </div>
                    <div class="elem">
                        <span class="f"><b>с</b></span>
                        <span class="s">1980</span>
                        <span class="t">года</span>
                    </div>
                </div>
            </div>
            <div class="map">
                <img src="{% static 'dev/img/footer/atlas.jpeg' %}" alt="map">
            </div>
        </div>
    </section>

    <section class="cto">
        <div class="container">
            <div class="base">
                <div class="photo">
                    <img src="{% static 'dev/img/main/cto/cto-img.png' %}">
                </div>
                <div class="text">
                    <p class="ons">Основатель:</p>
                    <p class="name">МЭРИЛИН АТКИНСОН</p>
                    <p class="description">Президент Международного Эриксоновского Университета.</p>
                    <p class="text-base">Доктор психологии, Коуч, всемирно известный тренер Мэрилин
                        Аткинсон является автором многих работ, с 1985 года ведет
                        преподавательскую и консультативную деятельность в ведущих
                        корпорациях мира, является основателем и президентом
                        Международного Эриксоновского Университета (Канада).</p>

                    <p class="text-base">Президент Международного Эриксоновского Университета
                        Мэрилин Аткинсон работает в России на протяжении 16 лет.
                        Мэрилин Аткинсон вырастила несколько поколений Российских
                        руководителей, оказала огромное влияние на развитие тренеров и
                        бизнес - образования в СНГ, на формирование понятия коучинг.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="banner2">
        <div class="container">
            <div class="row">
                <div class="content">
                    <div class="text">
                        <p class="our">Наша команда</p>
                        <p class="name">ERICKSON PERM</p>
                        <p class="main-text">В команде Эриксоновского Университета работают
                            профессиональные сертифицированные коучи. Люди,
                            вдохновленные принципами Милтона Эриксона и коучингом,
                            ориентированным на поиск решения.</p>

                        <p class="main-text">Наши сотрудники имеют различное образование, прошли
                            обучение коучингу и регулярно повышают квалификацию.</p>
                    </div>
                    <div class="photo">
                        <img src="{% static 'dev/img/main/banner2/banner2-photo.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-mission">
        <div class="container">
            <div class="row">
                <div class="text">
                    <h2>Наша миссия:</h2>
                    <p class="under-name">трансформировать мир с каждым диалогом!</p>
                    <p>В работе университета мы воплощаем философию Милтона Эриксона:</p>
                </div>
                <div class="body-block">
                    <div class="stat-row">
                        <div class="elem">
                            <span class="f"><b>01</b></span>
                            <span class="s">любовь и уважение к людям</span>
                        </div>
                        <div class="elem">
                            <span class="f"><b>02</b></span>
                            <span class="s">развитие человеческого потенциала</span>
                        </div>
                        <div class="elem">
                            <span class="f"><b>03</b></span>
                            <span class="s">технологии,ориентированные на решения</span>
                        </div>
                        <div class="elem">
                            <span class="f"><b>04</b></span>
                            <span class="s">направленность на повышение эффективности</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="work">
        <div class="container">
            <div class="row">
                <div class="text_work">
                    <p class="f_work">Направления работы</p>
                    <p class="s_work">ERICKSON PERM</p>
                    <p class="t_work">У нас вы можете выбрать:</p>
                </div>
                <div class="cards">
                    <div class="branch" id="first">
                        <div class="bottom">
                            <p>Индивидуальный коучинг</p>
                            <div class="btn">
                                <a href="#" class="btn-orange">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="branch" id="second">
                        <div class="bottom">
                            <p>Индивидуальный коучинг</p>
                            <div class="btn">
                                <a href="#" class="btn-orange">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="branch" id="third">
                        <div class="bottom">
                            <p>Индивидуальный коучинг</p>
                            <div class="btn">
                                <a href="#" class="btn-orange">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'main/components/feeds.html' %}

    <section class="partners">
        <div class="container">
            <div class="row">
                <div class="text">
                    <h2>Наши партнеры</h2>
                </div>
                <div class="partners-img">
                    <img src="{% static 'dev/img/partners.png' %}">
                </div>
            </div>
        </div>
    </section>

    <a name="news"></a>
    <section class="news">
        <div class="container">
            <div class="content">
                <div class="name">
                    <h2>Новости</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="program-card">
                            <div>
                                <div class="photo">
                                    <img src="{% static 'dev/img/main/news/news-pic1.png' %}" alt="sience&art">
                                </div>
                                <div class="text">
                                    <p>25.08.2020</p>
                                    <h5>Коучинг в образовании -
                                        завершили первый модуль</h5>
                                    <p>21 августа мы успешно завешили
                                        #обучениекоучингу в 1 модуле
                                        программы "Коучинг в образовании".</p>
                                    <a href="#" class="click">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="program-card">
                            <div>
                                <div class="photo">
                                    <img src="{% static 'dev/img/main/news/news-pic2.png' %}" alt="sience&art">
                                </div>
                                <div class="text">
                                    <p>16.06.2020</p>
                                    <h5>Завершили самый
                                        трансформационный
                                        поток - группа 27</h5>
                                    <p>Мы это сделали. Сейчас я уже точно могу
                                        сказать, что это самый необычный, самый...</p>
                                    <a href="#" class="click">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="program-card">
                            <div>
                                <div class="photo">
                                    <img src="{% static 'dev/img/main/news/news-pic3.png' %}" alt="sience&art">
                                </div>
                                <div class="text">
                                    <p>19.03.2020</p>
                                    <h5>Открыли 27 программу
                                        началом первого модуля</h5>
                                    <p>Это только начало. Первые 4 дня из 16
                                        дней профессионального пути ребят, но
                                        они уже большие профессионалы.</p>
                                    <a href="#" class="click">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="button-opac">
                        <a class="btn-opac" href="#">Читать все новости</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}