{% load static %}
<footer>
    <div class="container">
        <div class="content">
            <div class="f-row">
                <div class="logo-footer">
                    <p>ERICKSON COACHING INTERNATIONAL</p>
                    <div class="img-footer">
                        <a href="/">
                            <img src="{% static 'dev/img/footer/Erickson-Perm-02.png' %}" href="/">
                        </a>
                        <a href="/">
                            <img src="{% static 'dev/img/footer/icf.png' %}" href="/">
                        </a>
                    </div>
                </div>
                <div class="list-row-f">
                    <div class="list1">
                        <a href="/timetable">Расписание</a>
                        <a href="#">Новости</a>
                        <a href="/about">О компании</a>
                        <a href="/contacts">Контакты</a>
                        <a href="/coaches">Тренеры</a>
                        <a href="#">Коуч-сессии</a>
                        <a href="/feed-list">Отзывы</a>
                    </div>
                    <div class="list2">
                        <a href="#">Обучение коучингу</a>
                        <a href="#">Для себя</a>
                        <a href="#">Для бизнеса</a>
                        <a href="/games">Транформационные игры</a>
                        <a href="#">Мастер-классы</a>
                        <a href="#">Благотворительность</a>
                    </div>
                </div>
                <div class="list-row-s">
                    <div class="list3">
                        <p>Мы в соц. сетях:</p>
                        <div class="social">
                            <img src="{% static 'dev/img/main/footer/inst.png' %}">
                            <img src="{% static 'dev/img/main/footer/vk.png' %}">
                            <img src="{% static 'dev/img/main/footer/fb.png' %}">
                        </div>
                    </div>
                    <div class="list4">
                        <p>Наши телефоны:</p>
                        <p>+7 (927) <span>248-99-80</span></p>
                        <p>+7 (917) <span>390-89-86</span></p>
                    </div>
                </div>
            </div>
            <div class="s-row">
                <p>Проводит обучающие программы в области коучинга, основанные на технологиях достижения результата и развития</p>
                <p><a href="#">Создание сайта</a> ДиВиЕР</p>
            </div>
        </div>
    </div>
</footer>