{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'dev/img/header/Erickson-Perm-02.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/coaching">О коучинге</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/programs">Программы</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/timetable">Расписание</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Мастер-классы</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/games">Трансформационные игры</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about">О нас</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#news">Новости</a>
                    </li>



                </ul>
            </div>
        </div>
    </nav>
</header>