{% extends "base/base.html" %}
{% load static %}

{% block title %}Erickson Perm - Коучинг{% endblock %}

{% block content %}

    <section class="breadcr">
    <div class="breadcr-container container">
        <p id="breadcrumbs">
            <span>
                <span>
                    <a href="http://harmonyhere.ru/">Главная</a>
                    /
                    <a href="http://harmonyhere.ru/">О коучинге</a>
                </span>
            </span>
        </p>
    </div>
</section>

    <section class="coaching-page">
        <div class="container">
            <div class="coaching-page__page-header">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <h2>О коучинге</h2>
                        <h5>Коучинг - это создание качественно новых результатов во всех областях жизни.</h5>
                    </div>
                </div>
            </div>

            <div class="row coaching-page__description-header">
                <div class="col-xs-12 col-md-12">
                    <div class="">
                        <h2>Что такое коучинг?</h2>
                        <h5>Коучинг - это создание качественно новых результатов во всех областях жизни.</h5>
                    </div>
                </div>
                <div class="coaching-page__description-header__points-wrapper">
                    <div class="col-xs-12 col-md-3 description__point-wrapper">
                        <div class="description__point">
                            <img src="{% static 'dev/img/coaching/point-logo1.png' %}" alt="">
                            <h5>Бизнес</h5>
                            <p>Как найти свою нишу и
                                перевести свой бизнес на
                                новую ступень развития.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 description__point-wrapper">
                        <div class="description__point">
                            <img src="{% static 'dev/img/coaching/point-logo2.png' %}" alt="">
                            <h5>Семья</h5>
                            <p>Как создать любящие и
                                доверительные отношения с
                                близкими.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 description__point-wrapper">
                        <div class="description__point">
                            <img src="{% static 'dev/img/coaching/point-logo3.png' %}" alt="">
                            <h5>Финансы</h5>
                            <p>Как вдохновить сотрудников
                                на повышение прибыли
                                компании и начать получать
                                в 2 раза больше.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 description__point-wrapper">
                        <div class="description__point">
                            <img src="{% static 'dev/img/coaching/point-logo4.png' %}" alt="">
                            <h5>Наследие</h5>
                            <p>Как оставить свой след в
                                истории и сделать так, чтобы
                                вас помнили потомки?</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 coaching-page__definition">
                    <h3>Определение коучинга</h3>
                    <h3>Международной Федерации Коучинга (ICF)</h3>
                    <p>ICF определяет <strong>коучинг</strong> как процесс партнерства, стимулирующий работу мысли и
                        креативность клиента, в
                        котором он с помощью коуча максимально раскрывает свой личный и профессиональный потенциал.</p>
                </div>
            </div>

            <div class="row">
                <div class="coaching-page__about-coaching">
                    <div class="col-xs-12 col-md-6">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="about-coaching__text">
                            <p>
                                <strong>Уральская Академия Коучинга является
                                    официальным представителем Международного
                                    Эриксоновского Университета Коучинга на
                                    территории Пермского края</strong>
                            </p>
                            <p>Эриксоновский коучинг предоставляет элегантный
                                способ сопровождения изменений. С помощью
                                комплексных современных технологий, мы открываем
                                людям возможности ясного понимания своего
                                уникального пути и создает поддержку во время
                                движения к цели</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 coaching-page__erickson-coaching">
                    <h3>Эриксоновский коучинг основан на следующих принципах:</h3>
                    <div class="text-wrapper">
                        <ol>
                            <li><strong>Ориентация на решения</strong> – коуч помогает клиенту достигать своих истинных
                                целей, вместо того
                                чтобы
                                позволять ему концентрироваться на прошлом опыте и искать причины неудач.
                            </li>
                            <li><strong>Системный подход</strong> – коуч поддерживает целостность личности клиента и фокус
                                внимания на то, что
                                изменения, которые происходят в одной области жизнедеятельности, влияют на более масштабную
                                картину
                                его жизни.
                            </li>
                            <li><strong>Концентрация на клиенте</strong> – коуч верит в то, что у клиента есть все ресурсы и
                                навыки для
                                достижения
                                своих целей, уважает его планы действий и те результаты, которых он хочет достичь. Коучинг –
                                это
                                зона,
                                свободная от советов.
                            </li>
                            <li><strong>Ориентирован как на ценности, так и на действия</strong> – следуя плану изменений в
                                специфичных,
                                вдохновляющих клиента шагах, клиент создаёт для себя фундаментальные изменения в отношениях,
                                поведении и сформировавшихся привычках.
                            </li>
                            <li><strong>Развитие осознанности</strong> – во время трансформационного коучинга клиент
                                расширяет осознанность
                                себя
                                и своей жизни, отношений, своих целей и их достижения, что создает основу для дальнейшего
                                развития.
                            </li>
                        </ol>
                    </div>
                    <p><strong>МЕТОДЫ:</strong> в основе всех обучающих программ Международного Эриксоновского Университета
                        лежат
                        методики системного мышления, технологии, направленные на результаты, новейшие исследования в
                        области
                        психолингвистики и управления.</p>
                </div>
            </div>

            <div class="row coaching-page__uniqueness">
                <div class="col-12">
                    <h3>Уникальность коучинга</h3>
                </div>
                <div class="col-xs-12 col-md-6">
                    <img src="{% static 'dev/img/coaching/illustration.png' %}" alt="illustration">
                </div>
                <div class="col-xs-12 col-md-6 text-wrapper">
                    <div>
                        <p><strong>Психотерапия и коучинг.</strong> В отличие от терапии и
                            консультирования, коучи не фокусируются на
                            детском или прошлом негативном опыте,
                            который может быть причиной того, как живёт
                            или что чувствует человек.
                        </p>
                        <p><strong>Консалтинг и коучинг.</strong> Задача консультанта –
                            определить проблему человека или организации
                            и предложить свои решения, основываясь на
                            знаниях и опыте решения проблем; часто они
                            сами и реализуют эти решения. Задача коуча –
                            использовать техники и инструменты, чтобы
                            помочь клиенту сгенерировать собственные
                            решения, а затем поддерживать клиентов в их
                            исполнении.</p>
                    </div>
                </div>
                <div class="col-12 additional-info">
                    <p><strong>Тренер и коуч.</strong> Когда человек, не знакомый с коучингом, слышит слово “coach”, то
                        начинает думать о футболе, но задача
                        спортивного тренера – ставить задачи и вести к победе. Те навыки, которые используют спортивные
                        тренеры во всём
                        мире – обучение, корректировка и управление. Профессиональный лайф, бизнес-коучинг или
                        коучингтоп-менеджеров –
                        это совсем иное; здесь клиент сам ставит перед собой цели.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 results__header">
                    <h3>Результаты обучения коучингу в Международном
                        Эриксоновском Университете Коучинга</h3>
                </div>
                <div class="col-12 results__wrapper">
                    <div class="">
                        <div class="col-xs-12 col-md-12 direction-num wide">
                            <div style="width: 25%;">
                                <span class="percent">более  </span>
                                <span class="number">40 000</span>
                            </div>
                            <div>человек во всем мире и больше
                                4000 человек в России и СНГ с помощью обучения
                                коучингу у нас достигли своих целей
                            </div>
                        </div>
                        <hr>
                        <div class="new-line">
                            <div class="col-xs-12 col-md-4 direction-num">
                                <div><span class="number">80</span><span class="percent">&nbsp;&nbsp;%</span></div>
                                <div class="text"> используют инструменты
                                    коучинга в своей
                                    нынешней работе
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 direction-num">
                                <div><span class="number">20</span><span class="percent">&nbsp;&nbsp;%</span></div>
                                <div class="text"> стали
                                    сертифицированными
                                    коучами ICF
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 direction-num">
                                <div><span class="number">100</span><span class="percent">&nbsp;&nbsp;%</span></div>
                                <div class="text"> каждый день
                                    используют
                                    коучинговые навыки
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'base/form.html' %}

{% endblock %}
