{% load static %}
<section class="couching">
    <div class="container">
        <div class="row">
            <div class="f-row">
                <h2>Что такое коучинг?</h2>
                <h5>Коучинг - это создание качественно новых результатов во всех областях жизни</h5>
            </div>
        </div>
        <div class="row card-row">
            <div class="row-blocks">
                <div class="col-lg-3">
                    <div class="couch-card">
                        <div class="card-img">
                            <img src="{% static 'dev/img/main/bussines.png' %}" alt="business">
                            <p class="card-name">Бизнес</p>
                        </div>
                        <div class="text-center">
                            <p class="card-text">Как найти свою нишу иперевести свой бизнес на новую ступень
                                развития</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="couch-card">
                        <div class="card-img">
                            <div class="card-img">
                                <img src="{% static 'dev/img/main/family.png' %}" alt="business">
                                <p class="card-name">Семья</p>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="card-text">Как создать любящие и доверительные отношения с близкими.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="couch-card">
                        <div class="card-img">
                            <img src="{% static 'dev/img/main/finance.png' %}" alt="business">
                            <p class="card-name">Финансы</p>
                        </div>
                        <div class="text-center">
                            <p class="card-text">Как вдохновить сотрудников на повышение прибыли компании и начать
                                получать в 2 раза больше.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="couch-card">
                        <div class="card-img">
                            <img src="{% static 'dev/img/main/desteny.png' %}" alt="business">
                            <p class="card-name">Наследние</p>
                        </div>
                        <div class="text-center">
                            <p class="card-text">Как оставить свой след в истории и сделать так, чтобы вас помнили
                                потомки?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>