{% load static %}
<section class="carousel-page">
    <div class="container">
        <div class="row">
            <div class="text">
                <h2>Отзывы наших выпускников</h2>
                <p>Что о нас дума.ют наши выпускники</p>
            </div>
            <div id="feedback-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-item__inner">
                            <img src="{% static 'dev/img/main/carousel-page/c-img1.png' %}" alt="1">
                            <p>Коучинг дал мне свободу мечтать и смелость задать самой себе главный вопрос:
                                Что ты хочешь? Это были и есть удивительные для меня знания, которые полностью
                                поменяли мой угол зрения на очень многие процессы. Это совершенно новые для
                                меня навыки, главным из которых является Коучинговое присутствие. Не представляю,
                                как бы я без него пережила всё, что происходит сейчас в моем бизнесе.

                                Время обучения вспоминаю одним словом - Счастье. Я обрела друзей и
                                единомышленников. А это в середине жизни очень дорогого стоит. Я встретила
                                наставников , с которыми можно смело пойти на край света.

                                Огромное спасибо команде Эриксон Казань за удивительную слаженность в работе,
                                высочайший профессионализм, настойчивость , терпение и деликатность!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-item__inner">
                            <img src="{% static 'dev/img/main/carousel-page/c-img1.png' %}" alt="1">
                            <p>Коучинг дал мне свободу мечтать и смелость задать самой себе главный вопрос:
                                Что ты хочешь? Это были и есть удивительные для меня знания, которые полностью
                                поменяли мой угол зрения на очень многие процессы. Это совершенно новые для
                                меня навыки, главным из которых является Коучинговое присутствие. Не представляю,
                                как бы я без него пережила всё, что происходит сейчас в моем бизнесе.

                                Время обучения вспоминаю одним словом - Счастье. Я обрела друзей и
                                единомышленников. А это в середине жизни очень дорогого стоит. Я встретила
                                наставников , с которыми можно смело пойти на край света.

                                Огромное спасибо команде Эриксон Казань за удивительную слаженность в работе,
                                высочайший профессионализм, настойчивость , терпение и деликатность!</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#feedback-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#feedback-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>