{% load static %}
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>СТАРТ нового потока тренингов второго полугодия 2020 г.</h1>
                <p>Сентябрь, ноябрь - наука и искусство трансформационного коучинга, октябрь - квантовый ум, ноябрь -
                    энеаграмма!</p>
                <p>Успейте присоединиться к группам по специальным ценам. Подробности на сайте и у
                    организаторов.</p>
            </div>
            <div class="col-lg-5"></div>
        </div>
        <a href="#" class="btn">Узнать расписание</a>
    </div>
</section>