{% load static %}
<section class="near-date">
    <div class="container">
        <div class="name">
            <h2>Ближайшие мероприятия</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card-date">
                    <div class="card-date-label">
                        <p>15.10.2020</p>
                    </div>
                    <div class="date">
                        <p class="color-orange">4 дня</p>
                        <p class="color-black">с 14:00 до 21:00</p>
                    </div>
                    <div class="card-text">
                        <h5>Наука и искусство
                            трансформационного
                            коучинга. 1 модуль</h5>
                        <p>Наука и искусство трансформационного
                            коучинга. 1 модуль "ВДОХНОВЕНИЕ.
                            ОСНОВНЫЕ ИНСТРУМЕНТЫ КОУЧИНГА."</p>
                    </div>
                    <div class="teach">
                        <div class="teach-img">
                            <img src="{% static 'dev/img/main/near-date/teach1.png' %}" alt="teach">
                        </div>
                        <div class="teach-name">
                            <h5>Ведущий:</h5>
                            <p>Елена Дёмушкина</p>
                        </div>
                    </div>
                    <div class="button">
                        <a class="btn-orange" href="#">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-date">
                    <div class="card-date-label">
                        <p>27.10.2020</p>
                    </div>
                    <div class="date">
                        <p class="color-orange">4 дня</p>
                        <p class="color-black">с 10:00 до 16:00</p>
                    </div>
                    <div class="card-text">
                        <h5>Коучинг в образовании.
                            Модуль 2.</h5>
                        <p>Сертификационный курс "Практическое
                            применение коучинговых технологий в
                            конструировании урока в соответствии с
                            ФГОС" для прогрессивных руководителей,
                            административных команд и креативных
                            педагогов образовательных учреждений.</p>
                    </div>
                    <div class="teach">
                        <div class="teach-img">
                            <img src="{% static 'dev/img/main/near-date/teach2.png' %}" alt="teach">
                        </div>
                        <div class="teach-name">
                            <h5>Ведущий:</h5>
                            <p>Елена Дёмушкина</p>
                        </div>
                    </div>
                    <div class="button">
                        <a class="btn-orange" href="#">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-date">
                    <div class="card-date-label">
                        <p>15.10.2020</p>
                    </div>
                    <div class="date">
                        <p class="color-orange">4 дня</p>
                        <p class="color-black">с 14:00 до 21:00</p>
                    </div>
                    <div class="card-text">
                        <h5>Наука и искусство
                            трансформационного
                            коучинга. 2 модуль</h5>
                        <p>Наука и искусство трансформационного
                            коучинга. 2 модуль "ВНЕДРЕНИЕ.
                            ТВОРЧЕСТВО ПРИ ПОИСКЕ РЕШЕНИЙ."</p>
                    </div>
                    <div class="teach">
                        <div class="teach-img">
                            <img src="{% static 'dev/img/main/near-date/teach3.png' %}" alt="teach">
                        </div>
                        <div class="teach-name">
                            <h5>Ведущий:</h5>
                            <p>Елена Дёмушкина</p>
                        </div>
                    </div>
                    <div class="button">
                        <a class="btn-orange" href="#">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="button-opac">
                <a class="btn-opac" href="#">Посмотреть все</a>
            </div>
        </div>
    </div>
</section>