{% load static %}
<section class="our-programs">
    <div class="container">
        <div class="name">
            <h2>Наши программы</h2>
        </div>
        <div class="row">
            <div class="programs">
                <div class="col-lg-4">
                    <div class="program-card">
                        <div>
                            <div class="photo">
                                <img src="{% static 'dev/img/main/p_sience.png' %}" alt="sience&art">
                            </div>
                            <div class="text">
                                <h5>Наука и искусство трансформационного коучинга</h5>
                                <p>Вы сможете как начать строить карьеру
                                    в востребованном направлении
                                    развития - коучинге, так и повысить
                                    эффективность Вашей актуальной
                                    сферы: запустить свой проект,
                                    вывести бизнес на новый уровень.</p>
                                <a href="#" class="click">Подробнее</a>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btn btn-orange">Купить</a>
                            <a href="#" class="btn btn-grey">Рассрочка</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="program-card">
                        <div>
                            <div class="photo">
                                <img src="{% static 'dev/img/main/shine.png' %}" alt="shine">
                            </div>
                            <div class="text">
                                <h5>СВЕТ ЭННЕАГРАММЫ: ПРИРУЧИ СВОИХ ДРАКОНОВ (CCE ICF)</h5>
                                <p>Модель, которая описывает девять типов
                                    личности, присущие им паттерны
                                    мышления и поведения, а также
                                    бессознательные мотивы, которые стоят
                                    за этими паттернами.</p>
                                <a href="#" class="click">Подробнее</a>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btn btn-orange">Купить</a>
                            <a href="#" class="btn btn-grey">Рассрочка</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="program-card">
                        <div>
                            <div class="photo">
                                <img src="{% static 'dev/img/main/base.png' %}" alt="base">
                            </div>
                            <div class="text">
                                <h5>БАЗОВЫЙ КУРС ОБУЧЕНИЯ</h5>
                                <p>Авторский коучинг-тренинг Мэрилин
                                    Аткинсон. Обучение профессиональным
                                    базовым навыкам и методам коучинга при
                                    поддержке и с использованием материалов
                                    Международного Эриксоновского
                                    Университета Коучинга.</p>
                                <a href="#" class="click">Подробнее</a>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btn btn-orange">Купить</a>
                            <a href="#" class="btn btn-grey">Рассрочка</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="program-card">
                        <div>
                            <div class="photo">
                                <img src="{% static 'dev/img/main/brain.png' %}" alt="brain">
                            </div>
                            <div class="text">
                                <h5>КВАНТОВЫЙ УМ: МЫШЛЕНИЕ В 4-Х КВАДРАНТАХ (CCE ICF)</h5>
                                <p>Уникальная авторская программа Мэрелин
                                    Аткинсон и Питера Стефани.</p>
                                <a href="#" class="click">Подробнее</a>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btn btn-orange">Купить</a>
                            <a href="#" class="btn btn-grey">Рассрочка</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="program-card">
                        <div>
                            <div class="photo">
                                <img src="{% static 'dev/img/main/manage.png' %}" alt="manage">
                            </div>
                            <div class="text">
                                <h5>УПРАВЛЕНЧЕСКИЙ КОУЧИНГ</h5>
                                <p>Вы сможете как начать строить карьеру
                                    в востребованном направлении
                                    развития - коучинге, так и повысить
                                    эффективность Вашей актуальной
                                    сферы: запустить свой проект,
                                    вывести бизнес на новый уровень.</p>
                                <a href="#" class="click">Подробнее</a>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btn btn-orange">Купить</a>
                            <a href="#" class="btn btn-grey">Рассрочка</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="program-card">
                        <div>
                            <div class="photo">
                                <img src="{% static 'dev/img/main/parant.png' %}" alt="parent">
                            </div>
                            <div class="text">
                                <h5>РОДИТЕЛЬ КАК КОУЧ</h5>
                                <p>Вы сможете как начать строить карьеру
                                    в востребованном направлении
                                    развития - коучинге, так и повысить
                                    эффективность Вашей актуальной
                                    сферы: запустить свой проект,
                                    вывести бизнес на новый уровень.</p>
                                <a href="#" class="click">Подробнее</a>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="#" class="btn btn-orange">Купить</a>
                            <a href="#" class="btn btn-grey">Рассрочка</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>