{% load static %}
<section class="representation">
    <div class="container">
        <div class="row">
            <div class="f-row">
                <h2>Представительство</h2>
            </div>
        </div>
        <div class="eric-logo col-12 col-sm-6">
            <img src="{% static 'dev/img/header/Erickson-Perm-04.png' %}" alt="logo">
        </div>
        <div class="row">
            <div class="s-row">
                <h3>Международного Эриксоновского университета</h3>
                <p>коучинга, основанного в <b>1980 году</b></p>
            </div>
        </div>
    </div>
</section>