{% load static %}
<section class="study">
    <div class="container">
        <div class="name">
            <h2>Обучение коучингу</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="study-card">
                    <div class="photo-name">
                        <img src="{% static 'dev/img/main/study/pic-study-c.png' %}" alt="study couch">
                        <p>обучение коучингу</p>
                    </div>
                    <div class="list-card">
                        <a href="#">О коучинге</a>
                        <a href="#">Обучение коучингу. Базовые программы</a>
                        <a href="#">Обучение коучингу. Спецкурсы</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="study-card">
                    <div class="photo-name">
                        <img src="{% static 'dev/img/main/study/pic-self.png' %}" alt="study couch">
                        <p>для себя</p>
                    </div>
                    <div class="list-card">
                        <a href="#">Коучинг для родителей</a>
                        <a href="#">Коучинг для развития и личностного роста</a>
                        <a href="#">Индивидуальная коучинговая сессия</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="study-card">
                    <div class="photo-name">
                        <img src="{% static 'dev/img/main/study/pic-busines.png' %}" alt="study couch">
                        <p>для бизнеса</p>
                    </div>
                    <div class="list-card">
                        <a href="#">Корпоративные программы</a>
                        <a href="#">Открытые программы</a>
                        <a href="#">Подбор командного и индивидуального коуча</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>